@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Basier Circle';
  src: url('../public/font/BasierCircle-Bold.eot');
  src: local('Basier Circle Bold'), local('BasierCircle-Bold'),
    url('../public/font/BasierCircle-Bold.eot?#iefix') format('embedded-opentype'),
    url('../public/font/BasierCircle-Bold.woff2') format('woff2'),
    url('../public/font/BasierCircle-Bold.woff') format('woff'),
    url('../public/font/BasierCircle-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Basier Circle';
  src: url('../public/font/BasierCircle-Medium.eot');
  src: local('Basier Circle Medium'), local('BasierCircle-Medium'),
    url('../public/font/BasierCircle-Medium.eot?#iefix') format('embedded-opentype'),
    url('../public/font/BasierCircle-Medium.woff2') format('woff2'),
    url('../public/font/BasierCircle-Medium.woff') format('woff'),
    url('../public/font/BasierCircle-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Basier Circle';
  src: url('../public/font/BasierCircle-Regular.eot');
  src: local('Basier Circle Regular'), local('BasierCircle-Regular'),
    url('../public/font/BasierCircle-Regular.eot?#iefix') format('embedded-opentype'),
    url('../public/font/BasierCircle-Regular.woff2') format('woff2'),
    url('../public/font/BasierCircle-Regular.woff') format('woff'),
    url('../public/font/BasierCircle-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Basier Square';
  src: url('../public/font/BasierSquare-Medium.eot');
  src: local('Basier Square Medium'), local('BasierSquare-Medium'),
    url('../public/font/BasierSquare-Medium.eot?#iefix') format('embedded-opentype'),
    url('../public/font/BasierSquare-Medium.woff2') format('woff2'),
    url('../public/font/BasierSquare-Medium.woff') format('woff'),
    url('../public/font/BasierSquare-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Basier Square';
  src: url('../public/font/BasierSquare-Regular.eot');
  src: local('Basier Square Regular'), local('BasierSquare-Regular'),
    url('../public/font/BasierSquare-Regular.eot?#iefix') format('embedded-opentype'),
    url('../public/font/BasierSquare-Regular.woff2') format('woff2'),
    url('../public/font/BasierSquare-Regular.woff') format('woff'),
    url('../public/font/BasierSquare-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Basier Square';
  src: url('../public/font/BasierSquare-Bold.eot');
  src: local('Basier Square Bold'), local('BasierSquare-Bold'),
    url('../public/font/BasierSquare-Bold.eot?#iefix') format('embedded-opentype'),
    url('../public/font/BasierSquare-Bold.woff2') format('woff2'),
    url('../public/font/BasierSquare-Bold.woff') format('woff'),
    url('../public/font/BasierSquare-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Basier Square", "Basier Circle";
}

#cart .m-4ba554d4 {
  padding: 0px !important;
  padding-top: 0px !important;
}



body {
  font-family: "Basier Square", "Basier Circle";
}
  /* Hide scrollbar for Chrome, Safari, and Opera */
  .no_scroll::-webkit-scrollbar {
    display: none;
  }


  /* Hide scrollbar for IE, Edge, and Firefox */
  .no_scroll {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
#tabs .m-c3381914 {
  border-radius: 8px 8px 0px 0px !important;
}
#wrapper .m-6c018570 {
  background: #fff !important;
  border-radius: 8px;
  border: 1px solid #EAECEE !important;
  display: flex;
  height: 48px !important;
  align-items: center;
}
#wrapper .m-8fb7ebe7{
  background: #fff !important;
  border-radius: 8px;
  border: none !important;
  display: flex;
  align-items: center;
}
#wrapper .m-8fb7ebe7::placeholder {
  color: #0C0C0C !important;
}

#products .m-6c018570 {
  background: #fff !important;
  height: 48px !important;
  width: 171px !important;
  border-radius: 8px;
  border: 1px solid #EAECEE !important;
  display: flex;
  align-items: center;
}
#products .m-8fb7ebe7{
  background: #fff !important;
  width: 100% !important;
  height: 100% !important;
  border-radius: 8px;
  border: none !important;
  display: flex;
  align-items: center;
}
#products .m-8fb7ebe7::placeholder {
  color: #0C0C0C !important;
}
#cart .m-6c018570 {
  background: #fff !important;
  height: 48px !important;
  width: 195px !important;
  border-radius: 8px;
  border: 1px solid #EAECEE !important;
  display: flex;
  align-items: center;
}
#cart .m-8fb7ebe7{
  background: #fff !important;
  width: 100% !important;
  height: 100% !important;
  border-radius: 8px;
  border: none !important;
  display: flex;
  align-items: center;
}
#cart .m-8fb7ebe7::placeholder {
  color: #0C0C0C !important;
}
#tabs .m-6c018570 {
  background: #fff !important;
  height: 48px !important;
  width: 150px !important;
  border-radius: 8px;
  border: 1px solid #EAECEE !important;
  display: flex;
  align-items: center;
}
.favorites_table .m-46b77525 {
  width: 149px !important;
  height: 48px !important;
  outline: none !important;
  
}
.favorites_table .m-8fb7ebe7{
  width: 100% !important;
  height: 100% !important;
  outline: none !important;
}
.favorites_table .m-8fb7ebe7::placeholder{
  color: #0C0C0C !important;
}
.favorites_table .m-6c018570{
  height: 100% !important;
  outline: none !important;
  
}

.breadcumbs_mobile {
  display: none !important;
}

#gift .m-8fb7ebe7 {
  background-color: #fff !important;
  border: 1px solid var(--Light-Colors-Platinum, #EAECEE) !important;
  border-radius: 8px !important;
  width: 408px !important;
  height: 48px !important;
}

.card_category {
  width: 301px;
}

.textt {
  width: 59%;
}

#filter .m-4ba585b8 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

#filter .m-fe19b709 {
  border-bottom: 0px !important;
}

#filter .m-4ba554d4 {
  padding: 0px !important;
}

#listing .m-c3381914 {
  border-radius: 8px !important;
  border: 1px solid #1071FF !important;
}

#listing .m-c3381914:hover {
  background: #E6EFFB !important;
}

#listing .m-c3381914[data-active][data-active] {
  background: #E6EFFB !important;
}

#listing .tabss {
  justify-content: space-between !important;
  align-items: center !important;
  flex-wrap: nowrap;
  margin-bottom: 24px !important;
}
#brands .m-64f58e10{
  background-color: transparent !important;
  border: 0px !important;
  box-shadow: 0px !important;
}
#brands .m-17884d0f[data-orientation=horizontal] .m-39bc3463 {
  --_controls-top: 16px !important;
}

@media screen and (min-width: 1440px) and (max-width:1440px) {
  .container {
    max-width: 1264px !important;
  }
}

@media screen and (max-width:768px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;

  }
  .favorites_table .m-46b77525 {
    width: 250px !important;
    height: 48px !important;
    outline: none !important;
    border-radius: 8px !important;
    
  }
  #tabs_mobile .m-6c018570 {
    background: #fff !important;
    height: 48px !important;
    width: 150px !important;
    border-radius: 8px;
    border: 1px solid #EAECEE !important;
    display: flex;
    align-items: center;
  }
  #products .m-6c018570 {
    width: 97px !important;
  }

  #drawer .m-4ba585b8 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  #drawer .m-4ba554d4 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .card_category {
    width: 100%;
  }

  .textt {
    width: 100%;
  }

  #listing .filter_tabs {
    display: none !important;
  }

  .m-5df29311 {
    padding: 0px !important;
    padding-top: 0px !important;
  }

  .breadcumbs {
    display: none !important;
  }

  .breadcumbs_mobile {
    display: flex !important;
  }

  .m-fe19b709 {
    border-bottom: calc(0.0625rem*var(--mantine-scale)) solid var(--_item-border-color);
  }

  #tabs_mobile .m-4ba585b8[data-active] {
    background-color: #1071FF;
    color: #fff !important;

  }



  #tabs_mobile #accordion_mobile .m-4ba585b8[data-active] {
    background-color: rgba(246, 248, 251, 1);

  }

  #tabs_mobile #accordion_mobile .m-4ba585b8[data-active] {
    background-color: rgba(246, 248, 251, 1);

  }

  #gift .m-8fb7ebe7 {
    background-color: #fff !important;
    border: 1px solid var(--Light-Colors-Platinum, #EAECEE) !important;
    border-radius: 8px !important;
    width: 194px !important;
    height: 48px !important;
  }
}

#favorites .m-b242d975 {
  position: static !important;
}

.m-c3381914 {
  background-color: #F6F8FB !important;
}

.m-c3381914:hover {
  background-color: #1071FF !important;
  color: #fff !important;
}

.m-c3381914[data-active][data-active] {
  background-color: #1071FF !important;
}

#header .select {
  background-color: transparent !important;
  border: none !important;

  width: 70px !important;
}

.shadow {
  box-shadow: 0px 5px 7px 0px #00000024;

}

#wrapper .input {
  background-color: #F8F8F9 !important;
  border-radius: 12px !important;
  padding: 16px !important;
  font-size: 18px !important;
  outline: none !important;
  border: none !important;
  height: 56px !important;
  width: 100%;
}

#wrapper .input::placeholder {
  color: #081226 !important;
  font-weight: 400 !important;
}

#wrapper .m-26063560 {
  border-radius: 0px !important;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

#wrapper .card-checkbox {
  width: 35%;
  background: #F8F8F9;
  height: 80px;
  border: 1px solid #ECECEC;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;

}

#header .m-8fb7ebe7 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent !important;
  border: 0px !important;
  font-size: 14px !important;
  line-height: 170% !important;
  transition: border-color .1s ease;
  width: 100px !important;
  padding: 0px !important;
  margin-left: 4px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

#header .m-8fb7ebe7::placeholder {
  color: #0C0C0C;
}

#wrapper .card-checkbox .text_one {
  font-size: 14px;
  font-weight: 400;
  color: #08122699;
  margin-bottom: 8px;
}

#wrapper .card-checkbox .text_two {
  font-size: 18px;
  line-height: 20px;
  color: #081226;


}

#wrapper .bgg {
  background-color: #FBFBFC;
  border-radius: 12px;
}

#wrapper .border-bg {
  background-color: #ECECEC;
}

@media screen and (min-width: 1500px) and (max-width: 1920px) {
  #menu {
    width: 1893px !important;
    margin: 0px auto;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1440px) {
  #menu {
    width: 1413px !important;
  }
  .menu .m-38a85659{
    width: 100% !important;
  }
}

